arrow==0.15.6
attrs==19.3.0
binaryornot==0.4.4
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cookiecutter==1.7.2
cycler==0.10.0
decorator==4.4.2
descartes==1.1.0
dill==0.3.2
Fiona==1.8.13.post1
geobr==0.1.6
geopandas==0.7.0
idna==2.9
Jinja2==2.11.2
jinja2-time==0.2.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
Mesa==0.8.7
multiprocess==0.70.9
munch==2.5.0
networkx==2.4
numpy==1.18.5
pandas==1.0.4
pathos==0.2.5
pox==0.2.8
poyo==0.5.0
ppft==1.6.6.1
pyparsing==2.4.7
pyproj==2.6.1.post1
python-dateutil==2.8.1
python-slugify==4.0.0
pytz==2020.1
requests==2.23.0
scipy==1.4.1
seaborn==0.10.1
Shapely==1.7.0
six==1.15.0
text-unidecode==1.3
tornado==6.0.4
tqdm==4.44.1
urllib3==1.26.5
arrow==0.15.6
attrs==19.3.0
binaryornot==0.4.4
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
cookiecutter==1.7.2
cycler==0.10.0
decorator==4.4.2
descartes==1.1.0
dill==0.3.2
Fiona==1.8.13.post1
geobr==0.1.6
geopandas==0.7.0
idna==2.9
jinja2>=2.11.3
jinja2-time==0.2.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
Mesa==0.8.7
multiprocess==0.70.9
munch==2.5.0
networkx==2.4
numpy==1.18.5
pandas==1.0.4
pathos==0.2.5
pox==0.2.8
poyo==0.5.0
ppft==1.6.6.1
pyparsing==2.4.7
pyproj==2.6.1.post1
python-dateutil==2.8.1
python-slugify==4.0.0
pytz==2020.1
requests==2.23.0
scipy==1.4.1
seaborn==0.10.1
Shapely==1.7.0
six==1.15.0
text-unidecode==1.3
tornado==6.0.4
tqdm==4.44.1
urllib3==1.26.5
